<html>
  <head>
    <title>Dissolution Camera System</title>
  </head>
  <body>
    <h1>Welcome to the dissolution camera system</h1>
    <p>The dissolution camera system uses a set of Raspberry Pi cameras
    (version 2) attached to Raspberry Pi 0 W controllers. Each controller
    is running a HTTP server that provides an API to control the camera
    and provides a stream to view previous time lapse recordings.

    For general inquiries into the operation of the system, please contact
    Andy Blanchard. For technical inquiries, please contact Brent Maranzano.
  </body>
  <footer>
    brent.maranzano@pfizer.com
  </footer>
</html>
